p,
h3,
h4{
  margin: 0;
}

p {
  margin-bottom: 1em;
}

@font-face {
  font-family: 'BravuraText';
  font-display: block;
  src: url(assets/BravuraText.woff2) format("woff2"),
  url(assets/BravuraText.woff) format("woff");
}


span.icon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /*font-size: 0.6em;*/
  background: black;
  color: white;
  padding: 0.2em;
  border-radius: 1px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
}

span.icon:hover {
  background: #222;
}

span.action.icon {
  font-size: 2em;
}


solsido {
  display: flex;
  flex-flow: column;
}

.key-signatures {
  /* https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar */
  /*font-size: calc((100vw - 100%) / ((13 + 0.5) * 2));*/
  display: flex;
  flex-flow: column;
  gap: 0.2em;
}

.key-signatures > div {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  /* https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container */
  gap: 0.5em;
}

/* https://stackoverflow.com/questions/73224778/how-do-i-make-a-single-column-on-first-row-and-two-columns-on-second-row-with-eq/73225524# */
.cmajor {
  display: inline-block;
  flex: 0.48;
}

.cmajor .header {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.cmajor .header > h3 {
  padding: 0.2em;
}

.cmajor .header .controls {
  display: flex;
  gap: 0.2em;
}

.cmajor .major-staff,
.cmajor-exercise .major-staff {
  position: relative;
  aspect-ratio: 13/4;
}

.cmajor .major-type,
.major.status .major-type {
  text-transform: capitalize;
}

.major-staff.you {
  box-shadow: 0px 0px 0px 1px red;
}

.major-staff.playback {
  box-shadow: 0px 0px 0px 1px yellow;
}

span.bra {
  font-family: BravuraText, sans-serif;
  vertical-align: middle;
  line-height: 0.5em;
  font-size: 1.1em;
}

bravura bra.ghost {
  opacity: 0.4;
}

bravura bra.live {
  color: orange;
}

bravura bra.green {
  color: green;
}

bravura bra.red {
  color: red;
}


.key-controls {
  display: inline-flex;
  flex-flow: column;
  gap: 0.1em;
  margin: 0.5em 0;
}

group.radio {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.radio input,
.switch input {
  position: absolute;
  left: -99999px;
}

.radio div {
  flex: 1 1 0;
}

.radio label {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  background: gray;
  padding: 0.2em;
  box-shadow: inset 0px 1px 0px black,
  inset 0px -1px 0px black;
}

.radio input:checked+label {
  background: orange;
}

.key-current {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 0.2em;
}

.key-current .icon.small {
  display: inline-block;
  align-self: flex-end;
}

.key-exercise {
  margin-top: 0.2em;
}

.box {
  border-radius: 0.05em;
  padding: 0.3em;
  background: #222;
}

.major.status {
  display: flex;
  justify-content: center;
}

.major.status h3 {
  text-shadow: 0 2px 2px #444;
}

.key-current .scores {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.box.flex {
  display: flex;
  justify-content: center;
}

.box.status {
  flex: 0.4 1 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}


span.red {
  color: red;
}

.switch {
  display: flex;
  justify-content: flex-end;
}

.switch label {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.2em;
  border-radius: 2em;
  background: green;
}

.switch input:not(:checked)+label {
  background: hsla(0, 50%, 20%, 0.5);
}

.switch input:not(:checked)+label:hover {
  background: hsla(0, 50%, 30%, 0.8);
}

