@font-face {
  font-family: 'BravuraText';
  font-display: block;
  src: url(assets/BravuraText.woff2) format("woff2"),
  url(assets/BravuraText.woff) format("woff");
}

span.icon {
  font-size: 0.5em;
  background: black;
  color: white;
  padding: 0.2em;
  border-radius: 1px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
}

span.icon:hover {
  background: #222;
}


solsido {
  display: flex;
  flex-flow: column;
}

.key-signatures {
  display: flex;
  flex-flow: column;
}

.key-signatures > div {
  flex: 1;
  display: flex;
  flex-flow: row;
  /* https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container */
  gap: 1em;
  margin: auto;
}

.cmajor {
  display: inline-block;
}

.cmajor .header {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.cmajor .header .controls {
  display: flex;
  gap: 0.2em;
}

.cmajor .major-staff {
  position: relative;
  width: 13em;
  height: 4em;
}

span.bra {
  font-family: BravuraText, sans-serif;
  line-height: 0.5em;
  vertical-align: sub;
}
