.up-down {
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
}

.up-down span.value {
  padding: 0.2em;
  background: #111;
  color: white;
}

.up-down span.value-up,
.up-down span.value-down {
  padding: 0.2em;
  background: #121212;
  color: white;
}

.main-staff {
  position: relative;
  aspect-ratio: 13/4;
}


metronome {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

metronome group {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

metronome label {
}

.yardstick-wrap {
  position: relative;
  aspect-ratio: 13/4;
}

yardstick {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}

yardstick sticks, 
yardstick playback {
  position: absolute;
  width: 100%;
  height: 100%;
}

yardstick playback cursor {
  position: absolute;
  height: 100%;
  width: calc(100% / (48 * 4 + 1));
  background: yellow;
}

yardstick sticks {
  display: flex;
  align-items: flex-end;
}

yardstick stick {
  position: relative;
  flex: 1;
  height: 90%;
}

yardstick stick:before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  opacity: 0.1;
  background: black;
  content: '';
  transition: all 500ms;
}

yardstick stick.strong:before {
  height: 100%;
  opacity: 1;
}

yardstick stick.medium:before {
  height: 75%;
  opacity: 1;
}

yardstick stick.weak:before {
  height: 50%;
  opacity: 1;
}
